<!-- including the _base.html templates -->
{% extends 'components/_base.html' %}
{%block title%}Welcome{%endblock%}
{%block content%}
<h1>Welcome</h1>
<p>Your account has been successfully created. now you can <a href="{% url "login" %}">log-in</a>.</p>
{%endblock%}
