#logo-container, .header, .section_header {
    font-family: 'Lobster', cursive;
}
#sign_up_form_section {
    width: 100%;
    padding: 20px;
}
@media all and (min-width: 500px) {
    #sign_up_form_section {
        width: 70%;
    }
}
.errorlist {
    color: red;
    border: 1px red solid;
    border-radius: 3px;
    text-align: center;
}
.errorlist li {
    padding: 7px;
}
