<!-- including the _base.html templates -->
{% extends 'components/_base.html' %}
<!-- referring to the block in base.html -->
{%block title%}Logged-out{%endblock%}
{%block content%}
<h1>Logged out</h1>
<p>You have been successfully logged out you can <a href="{% url "login" %}">log-in again</a>.</p>
{%endblock%}
