<!-- including the _base.html templates -->
{% extends 'components/_base.html' %}
{% block title %}change you password{%endblock%}
{%block content%}
<h1>Change Your Password</h1>
<p>use the form below to change your password</p>
<form action="." method="post">
  {{form.as_p }}
  <p><input type="submit" value="Change"></p>
  {%csrf_token%}
</form>
{%endblock%}
