<!-- including the _base.html templates -->
{% extends 'components/_base.html' %}
<!-- referring to the block in base.html -->
{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center {{ community.site_theme_text }}-text">{{ community.community_name }} Mails</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ community.community_motto }}</h5>
      </div>
      <div class="row center">
        <a href="{% url 'register' %}" id="download-button" class="btn-large waves-effect waves-light {{ community.site_theme_text }}">Sign Up</a>
      </div>
      <br><br>
    </div>
</div>
<div class="container">
    <div class="section">
      <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center {{ community.site_theme_text }}-text"><i class="{{ community.benefit_one_icon }}"></i></h2>
                    <h5 class="center">{{ community.benefit_one_title }}</h5>
                    <p class="light">{{ community.benefit_one_desc }}</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center {{ community.site_theme_text }}-text"><i class="{{ community.benefit_two_icon }}"></i></h2>
                    <h5 class="center">{{ community.benefit_two_title }}</h5>
                    <p class="light">{{ community.benefit_two_desc }}</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center {{ community.site_theme_text }}-text"><i class="{{ community.benefit_three_icon }}"></i></h2>
                    <h5 class="center">{{ community.benefit_three_title }}</h5>
                    <p class="light">{{ community.benefit_three_desc }}</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
  </div>
{% endblock %}
